# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / Packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.coverage
.pytest_cache/

# Logs
*.log